<div>
    <br>
    <h4>Welcome to Typing Dojo! Click <a href='#/play'>play</a> to start a race! Click <a href='#/practice'>practice</a> to train by yourself.</h4>
    <br>
    <div class="divider"></div>
<!--     <div>Users Connected: <span id="users"></span></div> -->
    <div class="divider"></div>
    <h5>High Scores</h5>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Speed</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="score in scores | orderBy: 'speed':true | limitTo: 10">
                <td ng-bind="score.name"></td>
                <td ng-bind="score.speed+' wpm'"></td>
                <td ng-bind="score.time | date: medium"></td>
            </tr>
        </tbody>
    </table>
</div>
