<div ng-controller="MainController">
    <h4>Practice Mode</h4>
    <!-- start progress bar -->
    <div class="row">
        <div class="col s2">You</div>
        <div class="col s8">
            <div class="progress">
                <div class="determinate orange" style="width: 70%"></div>
            </div>
        </div>
        <div class="col s2">0 wpm</div>
    </div>
    <!-- end progress bar -->
    <div class="divider"></div>
    <p id="excerpt"><u>Welcome</u> to CodingDojo! We're excited to have you join our bootcamp! Prior to joining our bootcamp, we want to get you up to speed with our learning platform as you will be spending a lot of time learning new concepts and working on assignments to level up your coding skills.</p>
    <div class="divider"></div>
    <input type="text" placeholder="Type the above text here when the race begins">
    <div class="divider"></div>
    <h5>Your Scores</h5>
    <table>
        <thead>
            <tr>
                <th>Speed</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="score in scores | orderBy: 'speed':true">
                <td ng-bind="score.speed+' wpm'"></td>
                <td ng-bind="score.time+' minutes ago'"></td>
            </tr>
        </tbody>
    </table>
</div>
