<div class="row">
    <div class="col s3"><h4>Speed Test</h4></div>
    <div class="col s2"><h4 class="red-text">{{getready}}</h4></div>
    <div class="col s2"><h4>Time:</h4></div>
    <div class="col s2"><h4 ng-bind='time'></h4></div>
</div>
<!-- start progress bar -->
<div class="row">
    <div class="col s2">You</div>
    <div class="col s8">
        <div class="progress">
            <div class="determinate orange" style="width: {{progress}}%"></div>
        </div>
    </div>
    <div class="col s2">{{wpm}} wpm</div>
</div>
<!-- end progress bar -->
<div class="divider"></div>
<div class="row">
    <div class="col s12">
        <p id="excerpt" style="font-size: 16pt;"><span class="green-text text-darken-1" ng-bind='finished'></span><u><b><span ng-bind='current'></span></b></u><span ng-bind='text'></span></p>
    </div>
</div>
<div class="row">
    <div class="input-field col s6">
        <input type="text" id="text-in" placeholder="Type the above text here when the race begins" ng-model='type' ng-trim="false" ng-disabled="text_disable" ng-style="inputStyle">
    </div>
</div>
    <b><span ng-bind='results'></span></b>
    <br><br>
    <a class="waves-effect waves-light btn green" ng-click="isDisabled || realTimer()">Start</a>
<!--         <a class="waves-effect waves-light btn orange" ng-click='stop()'>Stop</a> -->        
    <a class="waves-effect waves-light btn orange" ng-click='resetDisabled || reset()'>Reset</a>
    <a class="waves-effect waves-light btn red" ng-click='new()'>New</a>
<!--         <a class="waves-effect waves-light btn green" ng-click="isDisabled || ">REAL TIMER</a> -->
    <br><br><div class="divider"></div>
    <div class="row">
        <div class="col s6">
        <h5>Your Scores</h5>
        <table>
            <thead>
                <tr>
                    <th>Speed</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="score in scores | orderBy: 'speed':true">
                    <td ng-bind="score.speed+' wpm'"></td>
                    <td ng-bind="score.time | date:'mediumTime'"></td>
                </tr>
            </tbody>
        </table>
        </div>
</div>
