<div id="TestController" ng-controller="TestController">
<script type ="text/javascript">
$(document).ready(function (){
    var interval;
    var socket = io.connect();
    socket.on('sorry', function(){
        $('#users').html("Sorry, there are too many people playing. Please try again later.");
    });
    socket.emit("game on");
    socket.on('show paragraph', function(paragraph){
        angular.element('#TestController').scope().start(paragraph);
    });
    socket.on('game start', function(clients){
        $('#users').html("Users Connected: "+clients.length);
    });
    socket.on('player join', function(clients){
        interval = setInterval(function () {
            console.log(socket);
            socket.emit("update",{
                id : socket.id,
            	progress : angular.element('#TestController').scope().progress,
            	wpm : angular.element('#TestController').scope().wpm
            });
        },2000);
        angular.element('#TestController').scope().realTimer();
        console.log('add progress bar')
        $('#progress_bar').html('<br><div class="col s2">Opponent</div><div class="col s8"><div class="progress"><div class="determinate" style="width:0%"></div></div></div><div class="col s2">0 wpm</div>');
    });

    socket.on('update position', function(data){
        console.log(data);
        if (data.progress == 100){
            angular.element('#TestController').scope().nextRace = true;
        }
        $('#progress_bar').html('<br><div class="col s2"><span class="red-text">'+data.id+'</span></div><div class="col s8"><div class="progress"><div class="determinate red" style="width:'+data.progress+'%"></div></div></div><div class="col s2">'+data.wpm+' wpm</div>');
    });
    $('#giveup').click( function(){
        socket.disconnect();
        socket.emit("update",{progress : 0, wpm : 0});
    });
});

</script>
<br>
<div class="row">
<div class="col s12" id="users"><h2 class="center">Waiting for opponent to join!</h2></div>
</div>
<div class="divider"></div>

<div class="row">
    <div class="col s4"><h4>Good Luck!</h4></div>
    <div class="col s2"><h4 class="red-text" ng-bind='getready' id="getready"></h4></div>
    <div class="col s2"><h4>Time:</h4></div>
    <div class="col s2"><h4 ng-bind='time' id="time"></h4></div>
</div>
<!-- start progress bar -->
<!-- start socket input -->
<div class="row" id="progress_bar">
</div>
<!-- end socket input -->
<div class="row">
    <div class="col s2">You</div>
    <div class="col s8">
        <div class="progress">
            <div class="determinate" style="width: {{progress}}%"></div>
        </div>
    </div>
    <div class="col s2">{{wpm}} wpm</div>
</div>
<!-- end progress bar -->
<div class="divider"></div>
<div class="row">
    <div class="col s12">
        <p id="excerpt" style="font-size: 16pt;"><span class="green-text text-darken-1" ng-bind='finished'></span><u><b><span ng-bind='current'></span></b></u><span ng-bind='text'></span></p>
    </div>
</div>
<div class="row">
    <div class="input-field col s6">
        <input type="text" id="text-in" placeholder="Type the above text here when the race begins" ng-model='type' ng-trim="false" ng-disabled="text_disable" ng-style="inputStyle">
    </div>
</div>
    <b><span ng-bind='results'></span></b><br><br>
<div ng-show='nextRace'>
    <a href="#/test" class="waves-effect waves-light btn green" onclick="location.reload()">Start Next Race</a>
</div>
</div>