<div ng-controller="MainController">
    <div class="row">
        <div class="col s8"><h4>TEST</h4></div>
        <div class="col s1" ng-click="isDisabled || startTimer()"><h4>Start</h4></div>
        <div class="col s2"><h4 ng-bind='time'></h4></div>
    </div>
    <!-- start progress bar -->
    <div class="row">
        <div class="col s2">You</div>
        <div class="col s8">
            <div class="progress">
                <div class="determinate orange" style="width: {{progress}}%"></div>
            </div>
        </div>
        <div class="col s2">{{wpm}} wpm</div>
    </div>
    <!-- end progress bar -->
    <div class="divider"></div>
    <p id="excerpt"><span class="orange-text">{{finished}}</span>{{text}}</p>
    <input type="text" id="text-in" placeholder="Type the above text here when the race begins" ng-model='type' ng-trim="false">
        <div class="divider"></div>
        {{results}}

<!--     <p ng-bind='type'></p> -->
        <div class="divider"></div>

        <button ng-click="reset()">reset?</button> <br><br> <button>new?</button>
</div>
